recursive-include ott/view_header_footer/config *
recursive-include ott/view_header_footer/templates *
recursive-include ott/view_header_footer/locale *
recursive-include ott/view_header_footer/static *
