## -*- coding: utf-8 -*-
<%namespace name="util" file="/shared/utils/hf_utils.mako"/>
<!-- nav begin -->
<header id="header-wrap" class="group">
    <div id="nav-wrap" class="group">
      <nav id="nav">
          <div id="logo"><a href="${util.url_domain()}/m/index.htm"></a></div>
          <div id="tabs-wrap">
              <a id="tabs-icon-open" href="#nav">NAV</a>
              <!-- ="tabs-icon-close" href="#top">  $ _ { (u'Close) } </a> TODO -->
              <a id="tabs-icon-close" href="#top">Close</a>
              <div id="tabs-ul-wrap">
                  <ul id="tabs" class="group">
                      <li><a href="${util.url_domain()}/arrivals/small/pickroute.html" onclick="_gaq.push(['_trackEvent', 'Mobile', 'InternalClickTo', 'MainMenu - Hamburger - TransitTracker']);">Arrival Times (TransitTracker)</a></li>
                      <li><a href="${util.url_domain()}/ride/m/planner_form.html" onclick="_gaq.push(['_trackEvent', 'Mobile', 'InternalClickTo', 'MainMenu - Hamburger - Plan a Trip']);">Plan a Trip</a></li>
                      <li><a href="${util.url_domain()}/m/alerts/index.htm" onclick="_gaq.push(['_trackEvent', 'Mobile', 'InternalClickTo', 'MainMenu - Hamburger Service Alerts']);">Service Alerts</a></li>
                      <li><a href="${util.url_domain()}/ride/m/stop_select_form.html" onclick="_gaq.push(['_trackEvent', 'Mobile', 'InternalClickTo', 'MainMenu - Hamburger - Stops and Schedules']);">Stops and Stations</a></li>
                      <li><a href="${util.url_domain()}/m/maps.htm" onclick="_gaq.push(['_trackEvent', 'Mobile', 'InternalClickTo', 'MainMenu - Hamburger - Maps']);">Maps</a></li>
                      <li><a href="https://public.govdelivery.com/accounts/ORTRIMET/subscriber/new?category_id=ORTRIMET_C2" onclick="_gaq.push(['_trackEvent', 'Mobile', 'InternalClickTo', 'MainMenu - Hamburger - Email Updates']);">Get Updates by Email</a></li>
                      <li><a href="${util.url_domain()}/m/contact.htm" onclick="_gaq.push(['_trackEvent', 'Mobile', 'InternalClickTo', 'MainMenu - Hamburger - Contact Us']);">Contact Us</a></li>
                  </ul>
              </div>
          </div>
      </nav>
    </div>
</header>
<!-- nav end -->
