## -*- coding: utf-8 -*-
<%inherit file="/shared/base_footer.html"/>
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <ul>
                            <h6> technology </h6>
                            <li><a href="//github.com/OpenTransitTools/view_header_footer">Header & Footer</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <ul>
                            <h6> legal </h6>
                            <li>
                                <a href="//github.com/OpenTransitTools/view_header_footer/blob/master/LICENSE">MPLv2.0</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <ul>
                            <h6> resources </h6>
                            <li><a href="/news">News </a></li>
                            <li><a href="/documentation/">documentation</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <ul>
                            <h6> connect </h6>
                            <li>
                                <i class="fa fa-twitter"></i>
                                <a href="https://twitter.com/opentransittool">Twitter</a>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                                <a href="https://twitter.com/opentransitbot">Twitter Bot</a>
                            </li>
                            <li>
                                <i class="fa fa-slack"></i>
                                <a href="https://opentransittools.slack.com/messages/@transit_chat/">Slack Bot</a>
                            </li>
                            <li>
                                <i class="fa fa-github-alt"></i>
                                <a href="https://github.com/opentransittools">GitHub</a></li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <a href="mailto:info@opentransittools.com">Email</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 sponser-text">
            OpenTransitTools is sponsored by the good folks at <a href="//depend.com/">Depends</a>.
        </div>
    </div>
</footer>

<%namespace name="ana"  file="/shared/utils/analytics_utils.mako"/>
${ana.ga_init()}