## -*- coding: utf-8 -*-
<%inherit file="/shared/base.mako"/>
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8 | !(IE)]><!--><html id="html" dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
${util.time_stamp()}
<head>
    <meta name="robots" content="all"/>
    ${self.meta_data()}
    <title>${self.title()|n,decode.utf8,trim}</title>
    ${self.app_css()}
    ${self.app_js()}
</head>
<body class="env-develop" id="top" onLoad="${self.js_onload()}">
    <div id="application">
    ${self.emergency_content()|n,decode.utf8}
    ${self.nav_bar()}
    <!-- content begin -->
    <section id="content" class="content">
        <a name="content"></a>
        ${self.page_header()}
        ${next.body()}
