## -*- coding: utf-8 -*-
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<%def name="js_ui_include()">
    <!-- jquery and menu are needed to make the trimet header drop down -->
    <script src="http://maps9.trimet.org/ride/js/jquery.js" type="text/javascript" ></script>
    <script src="//trimet.org/global/js/menu.min.js" type="text/javascript" ></script>
</%def>
    </section><!-- #.content -->
    <%include file="/shared/footer.html" />
</div><!-- #application -->
</body>
${self.js_ui_include()}
</html>
