## -*- coding: utf-8 -*-
<%inherit file="/desktop/base_head.html"/>
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<% TODO=1 %>
## header stuff
<%def name="title()">XX</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Transit, Schedule, Information"/>
    <meta name="Description" content="Transit Information System"/>
</%def>
<%def name="app_css()">
<!-- local css goes here -->
</%def>
<%def name="app_js()">
<!-- local css goes here -->
</%def>

## header stuff
<%def name="emergency_content()">
%if True and TODO:
<div id="emergencyContainer">
  <div id="global-alert" class="show">
    <div id="NoticeBox">
      <div id="emergency">
        <p class="header">Generic alert - Fleet delays <span class="update">Updated: 2:22 p.m., Tue. Jun. 6, 2017</span></p>
        <p>Wednesday, June 7 and Thursday, June 8, expect delays on bus, MAX and Portland Streetcar during the afternoon commutes, due to the Rose Festival Fleet arrival and bridge lifts. Buses that use the Broadway, Steel and Burnside bridges may be detoured and some stops may be missed. Bus and MAX riders who do not travel through Portland City Center may also be delayed due to stoppages or detours.</p>
      </div>
    </div>
  </div>
</div>
%endif
</%def>

<%def name="page_header()">
%if True and TODO:
<div class="standardheader">
    <h1>
        PAGE HEADER ATOP PAGE (and below nav bar)
    </h1>
    <p class="h1sub">${_(u'Sub header')}</p>
</div>
%endif
</%def>
